html,
body {
  background-color: #dedce5;
}
*,
*:before,
*:after {
  box-sizing: border-box;
}
body {
  margin: 0;
  padding: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
body,
input {
  color: #373438;
}
.container {
  max-width: 1200px;
  margin: 0 auto;
}
.header {
  text-align: center;
  background-color: #130c0e;
  color: white;
  padding: 10px 10px 40px;
}
h1 {
  font-size: 36px;
  font-weight: bold;
}
.slogan {
  max-width: 520px;
  margin: 10px auto 0;
}
.card {
  background-color: #fff;
  padding: 20px 30px;
  margin: 30px;
  border-radius: 5px;
  box-shadow: 1px 1px 2px rgba(0, 0, 0, 0.3);
  position: relative;
  min-height: 100px;
}
.saint-item {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  padding: 10px 30px;
  margin: 0 -30px;
  transition: all 0.25s ease;
  cursor: pointer;
  font-size: 18px;
  font-weight: 300;
}
.saint-item:hover {
  background-color: #6590b9;
  color: #fff;
}
.saint-modal-container,
.saint-modal-background {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
}
.saint-modal-container {
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 200;
}
.saint-modal-background {
  background-color: #000;
  opacity: 0.5;
}
.saint {
  background-color: #fff;
  box-shadow: 1px 1px 2px rgba(0, 0, 0, 0.3);
  z-index: 300;
  padding: 20px 30px 10px;
  border-radius: 5px;
  width: 300px;
}
.saint h2 {
  font-size: 30px;
  font-weight: 300;
  margin: 0;
}
.saint-info {
  margin: 30px -15px 0;
  display: flex;
  justify-content: center;
}
.saint-info-item {
  text-align: center;
  padding: 5px 15px;
}
.saint-info .label {
  font-size: 14px;
  color: #625f63;
}
.saint-info .data {
  font-size: 20px;
  margin: 5px;
}
.form-title {
  font-size: 20px;
  text-align: center;
}
label {
  display: block;
  margin: 10px 0 5px;
}
.required:after {
  content:" *";
  color: red;
}
input {
  display: block;
  font-size: 18px;
  padding: 5px;
  border-radius: 3px;
  box-shadow: none;
  border: 1px solid #a7a3a2;
  width: 100%;
}
textarea {
  display: block;
  font-size: 18px;
  padding: 5px;
  border-radius: 3px;
  box-shadow: none;
  border: 1px solid #a7a3a2;
  width: 100%;
  font-family: inherit;
}
input:focus {
  outline-color: #1f8dcc;
  outline-width: 3px;
}
img {
  width: 80px;
  display: block;
}
.left-justified-input {
  display: inline-block;
  width: 18px;
  text-align: left;
}
.avatar-container {
  object-fit: scale-down;
  width: 80px;
  height: auto;
  margin-right: auto;
  position: sticky;
  border-radius: 50%;
}
.button-container {
  align-items: end;
  text-align: right;
}
.action-button {
  font-size: 18px;
  padding: 8px 15px;
  margin: 15px 4px;
  border-radius: 5px;
  border-width: 0;
  outline: none;
  background-color: #1f8dcc;
  color: #fff;
  cursor: pointer;
}
.action-button:disabled {
  background-color: #98d4f7;
  cursor: not-allowed;
}
.cancel-button {
  font-size: 18px;
  padding: 8px 15px;
  margin: 15px 4px;
  border-radius: 5px;
  border-width: 0;
  outline: none;
  background-color: #373b3d;
  color: #fff;
  cursor: pointer;
}
.loader-container,
.loader-container:before {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
}
.loader-container {
  display: flex;
  justify-content: center;
  align-items: center;
}
.loader-container:before {
  content: '';
  background-color: #a7a3a2;
  opacity: 0.3;
}
.loader {
  animation: loader-spin infinite 1s linear;
  height: 40px;
  width: 40px;
  border-radius: 50%;
  border: 5px solid #bcc8dc;
  border-top-color: #1f8dcc;
}

@keyframes loader-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}